Repository jackpocket/update-image-tag-action, changes with the labels that .github/labeler.yml gives for each.
All labels: action, automation, docs

.github/labeler.yml:

action:
  - action.yml
automation:
  - .github/workflows/*
docs:
  - '*.md'

Removing defaults
  README.md
  action.yml
Labels: action, docs

Update README.md
  README.md
Labels: docs

Update path example with comment
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Add `labels` action argument with default
  action.yml
Labels: action

Add `labels` action argument with default (#2)
  action.yml
Labels: action

Allow v4 on create-pull-request action
  action.yml
Labels: action

Allow v4 on create-pull-request action (#3)
  action.yml
Labels: action

Update example to use GitHub App token
  README.md
Labels: docs

Add dependabot config
  .github/dependabot.yml
  action.yml
Labels: action

Support multiple image updates in one action
  action.yml
Labels: action

Update example for v2
  README.md
Labels: docs

Update project description
  README.md
Labels: docs

Update action docs
  action.yml
Labels: action

Support multiple image updates in single PR (#7)
  README.md
  action.yml
Labels: action, docs

Wrap entire dynamic output vs individual
  action.yml
Labels: action

Fix cd command with correct path variable
  action.yml
Labels: action

Set kustomize-version to 5.1.1 due to error
  action.yml
Labels: action

Add kustomize-version input with 5.1.1 default
  action.yml
Labels: action

Add kustomize-version input with working (5.1.1) default (#9)
  action.yml
Labels: action

Add kustomize-version input with 5.1.1 default
  action.yml
Labels: action

Add kustomize-version input with working (5.1.1) default (#10)
  action.yml
Labels: action

Update labeler workflow
  .github/workflows/labeler.yml
Labels: automation
